<!DOCTYPE html>
<html>
<head>
  <title>SHOO</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<header>
<div class="logo"><h1>SHOO</h1></div>
<div class="tagline"><h3>Walk the Walk</h3></div>

</header>


  <%=yield%>
<footer>&copy<small>SHOO 2016</small></footer>
</body>
</html>